.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    width: 33.33%;
  }
  
  h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    padding: 5px 0;
    width: 100%;
    transition: border-bottom-color 0.3s ease-in-out;
  }
  
  input:focus {
    border-bottom-color: #3b9eff;
    outline: none;
  }
  
  .forgot-password {
    color: #3b9eff;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  button[type="submit"] {
    background-color: #3b9eff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 20px auto 0;
    padding: 10px;
}