.navbar {
  background-color: #6C9494;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 80px;
}
.navbar > div > ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  flex: 1;
  gap: 80px;
  font-weight: 700;
 
  list-style: none;
}
.navbar div  ul li{
  cursor: pointer;
}
.navbar div  ul li:hover{
  color: rgb(0, 5, 78);
 
}
.navbar div  ul .order{
  position: relative;
  
}
.order-list{
position: absolute;

}
.order-list ul{
  list-style: none;
  background-color: rgb(241, 241, 241);
  padding: 5px;
  width: 130%;
  display: flex;
  flex-direction: column;
  
}
.order-list ul li{
  background-color: #acacac;
  width: 100%;
  padding: 5px;
  gap: 10px;
  color: rgb(65, 65, 65);
  transition: 500ms all;

}
.order-list ul li:hover{
background-color: rgb(0, 5, 78);
color: white;
}
.order-list ul li:nth-child(odd){
  background-color: white;
 
}
.order-list ul li:nth-child(odd):hover{
 background-color: rgb(0, 5, 78);
color: white; 
}

.navbar-profile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  

}
.navbar-profile img{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.navbar-profile div{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.logo-image img{
  height: 50px;
  position: absolute;
  top: 10px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;

}
